.box{
    margin: 0 auto;
    text-align: center;
}

.box .button{
    border-radius: 3px;
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    transition: all .3s;
}

.box .button:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box .steal{
    background-color: #009688;
    color: white;
}

.box .yellow{
    background-color: #ffeb3b;
}

.box .orange{
    background-color: #ff9800;
}

.box .red{
    background-color: #f44336;
    color: white
}

.box .green{
    background-color: #4CAF50;
    color: white
}