<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .box{
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        width: 500px;
        background: #ccc;
    }
</style>
<body>
    <div class="box">
        <h1>标题</h1>
        <p>梦里寻他千百度，蓦然回首，那人却在灯火阑珊处</p>
    </div>
</body>
</html>