<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.box{
    width: 600px;
    padding: 20px 0;
    background: #ccc;
    text-align: center;
}

.box button{
    border-radius: 3px;
    background: red;
    color: white;
}
</style>
<body>
    <div class="box">
        <button>按钮1</button>
        <button>按钮2</button>
        <button>按钮3</button>
    </div>
</body>
</html>