<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        /* margin-top: -200px;
        margin-left: -200px; */
        transform: translate(-50%,-50%);
        background: #ccc;
    }
</style>

<body>
    <!-- <div class="box">
        这是一个提醒窗口
    </div> -->

    <div class="box">
        <h1>内容不定</h1>
        <h2>内容不定</h2>
    </div>
</body>

</html>