* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    font-size: 12px;
    line-height: 1.2;
    background: #fff;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    position: relative;
}

main>section {
    height: calc(100vh - 50px);
    width: 100%;
    overflow: scroll;
    display: none;
}

main section:first-child {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
}

footer .active {
    color: #FF5722;
}

footer div {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

footer div span {
    display: block;
    padding: 5px;
}

.container {
    padding: 0 10px;
}

.loading {
    text-align: center;
    display: none;
}

.loading .iconfont {
    padding: 5px;
    display: inline-block;
    animation: rotate 1000ms linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item:hover {
    background: #ccc;
}

.item a {
    display: flex;
    width: 100%;
    color: #333;
}

.item .order {
    display: flex;
    align-items: center;
}

.item .order span {
    background: green;
    color: white;
    padding: 0 4px;
}

.item .detail {
    padding-left: 10px;
}